<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Book Overview</title>
        <link rel="stylesheet" type="text/css" href="css/library.css" />
        <!-- <link rel="stylesheet" type="text/css" href="css/library2.css" /> -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1>Books</h1>
        <table>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th># of copies</th>
                <th>Buy new target</th>
            </tr>
            <tr th:each="criterium: ${allBooks}">
                <td th:text="${criterium.title}" />
                <td th:text="${criterium.category.name}" />
                <td th:text="${criterium.noCopies}" />
                <td><a th:href="@{/target/add/{bookId}(bookId=${criterium.bookId})}">Add</a></td>
            </tr>
        </table>

        <div>
            <a th:href="@{/books/add}">Add criterium</a>
        </div>

        <div>
            <a th:href="@{/category}">Add category</a>
        </div>

        <div sec:authorize="hasRole('ADMIN')"><!-- extra dependency! thymeleaf-extras-springsecurity5 -->
            <a th:href="@{/user/new}">Add user</a>
        </div>

        <div>
            <a th:href="@{/logout}">Log out</a>
        </div>
    </body>
</html>