<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Criterium Overview</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
    <h1>All criteria for category: <span th:text="${category.description}"> </span></h1>

        <table>
            <tr>
                <th>Category - </th>
                <th>Point - </th>
                <th>Criterium Description - </th>
                <th>Learning Process Overview  </th>
            </tr>
            <tr th:each="criterium: ${category.getCriteria()}"> <!-- TODO: put restriction on points -->
                <td th:text="${criterium.category.description}" />
                <td th:text="${criterium.points}" />
                <td th:text="${criterium.description}" />
                <td><a th:href="@{/criterium/{criteriumId}/overview(criteriumId=${criterium.id})}" class="button">Show process</a></td>
                <td><a th:href="@{/criterium/{criteriumId}(criteriumId=${criterium.id})}" class="button">Update</a></td>
                <td><a th:href="@{/criterium/{criteriumId}/delete(criteriumId=${criterium.id})}" class="button">Delete</a></td>
            </tr>
        </table>

    <div>
        <a th:href="@{/category/{id}/addCriterium(id=${category.id})}">Add more criteria</a>
    </div>

    <br>

    <div>
        <a th:href="@{/category}">Show all categories</a>
    </div>

    </body>
</html>
