<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Learning Process</title>  <!--  TODO: combine targetOverview and reviewOverview -->
</head>
<body>
<h1> Learning process for criterium:</h1>
<br>

<h1>All the targets:</h1>
<table>
    <tr>
        <th>Criterium - </th>
        <th>Deadline - </th>
        <th>Target Description - </th>
    </tr>
    <tr th:each="target: ${criterium.getTargets()}">
        <td th:text="${target.criterium.points}" />
        <td th:text="${target.deadline}" />
        <td th:text="${target.description}" />
        <td><a th:href="@{/target/add/{criteriumId}(criteriumId=${criteriumId})}" class="button">Update</a></td>
        <td><a th:href="@{/target/delete/{targetId}(targetId=${target.targetId})}" class="button">Delete</a></td>
    </tr>
</table>
<div>
    <a th:href="@{/target/add/{criteriumId}(criteriumId=${criteriumId})}">  Add more targets</a>
</div>

<br>

<h1>All the reviews:</h1>
<table>
    <tr>
        <th>Criterium - </th>
        <th>Description - </th>
        <th>Priority - </th>
        <th>Git Commit Link - </th>
        <th>Target</th>
    </tr>
    <tr th:each="review: ${criterium.getReviews()}">
        <td th:text="${review.criterium.points}" />
        <td th:text="${review.description}" />
        <td th:text="${review.priority}" />
        <td th:text="${review.gitCommit}" />
        <td th:text="${review.target}" />
        <td><a th:href="@{/review/delete/{reviewId}(reviewId=${review.reviewId})}" class="button">Delete</a></td>
    </tr>
</table>
<div>
    <a th:href="@{/review/add/{criteriumId}(criteriumId=${criteriumId})}">Add more reviews</a>
</div>

<br>

<div>
    <a th:href="@{/category}">Show all category</a>
</div>

</body>
</html>