<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Create a new review based on target</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Create a new review</h1>
<form action="#" th:action="@{/review/add/{criteriumId}}" th:object="${review}" method="post">
    <p>Description: <input type="text" th:field="*{description}" /></p>
    <p>Priority: <input type="text" th:field="*{priority}" /></p>
    <p>Link for Git commit: <input type="text" th:field="*{gitCommit}" /></p>
    <!--
    <p>Criterium:
        <select th:field="*{criterium}">
            <option th:each="criterium : ${criteriumList}" th:value="${criterium.criteriumId}"
                    th:text="${criterium.description}"></option>
        </select>
    </p>
    <p>Target:
        <select th:field="*{target}">
            <option th:each="target : ${targetList}" th:value="${target.targetId}"
                    th:text="${target.description}"></option>
        </select>
    <p>
    -->
    <input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>