<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Create a new review based on target</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Create a new review</h1>
<form action="#" th:action="@{/review/add/}" th:object="${review}" method="post">
    <input type="hidden" th:field="*{criterium}" /></p>
    <input type="id" th:field="*{id}" /></p>
    <p>Description: <input type="text" th:field="*{description}" /></p>
    <p>Priority:

    <input type="radio" id="Low" name="*{priority}" value="Low">
    <label for="low">Low</label>

    <input type="radio" id="Medium" name="*{priority}" value="Medium">
    <label for="medium">Medium</label>

    <input type="radio" id="High" name="*{priority}" value="High">
    <label for="high">High</label>
    </p>

    <p>Link for Git commit: <input type="text" th:field="*{gitCommit}" /></p>

    <p>Target:
        <select th:field="*{target}">
            <option value=""> </option>
            <option th:each="target : ${criterium.getTargets()}" th:value="${target.id}"
                    th:text="${target.description}"></option>
        </select>
    </p>
    <br>

    <input type="submit" value="Submit" /> <input type="reset" value="Reset" />
</form>
</body>
</html>
