<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Create a new target</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Create a new target</h1>
<form action="#" th:action="@{/target/add/{criteriumId}}" th:object="${target}" method="post">
    <p>Description: <input type="text" th:field="*{description}" /></p>
    <p>Target date: <input type="text" th:field="*{dateCreated}" /></p>
    <!--
    <p>Criterium:
        <select th:field="*{criterium}">
            <option th:each="criterium : ${criteriumList}" th:value="${criterium.criteriumId}"
                    th:text="${criterium.description}"></option>
        </select>
    </p>
    -->
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>