<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Create a new target</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Create a new target</h1>
<form action="#" th:action="@{/target/add/}" th:object="${target}" method="post">
    <input type="hidden" th:field="*{criterium}" /></p>
    <input type="id" th:field="*{id}" /></p>
    <p>Description: <input type="text" th:field="*{description}" /></p>
    <p>Deadline date: <input type="date" th:field="*{deadline}" /></p>
    <input type="submit" value="Submit" /> <input type="reset" value="Reset" />
</form>
</body>
</html>
!1
